*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.parallax-image{
    position: relative;
    width: 77%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: backgroundAnimation 6s infinite ease-in;
    filter: blur(1px);
}

#train{
    position: absolute;
    width: 100%;
    height: auto;
    top: 39px;
    animation: trainAnimation 6s infinite ease-in;
    filter: blur(0.1px);
}

#trainShadow{
    position: absolute;
    width: 110%;
    height: 60%;
    top: 370px;
    z-index: 2;
    animation: trainShadowAnimation 6s infinite ease-in;
}

#fence{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    animation: allAnimation 6s infinite ease-in;
}

#ground{
    position: absolute;
    width: 100%;
    height: auto;
    animation: allAnimation 6s infinite ease-in;
}

#couple{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
    animation: allAnimation 6s infinite ease-in;
}

#tree{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
    animation: allAnimation 6s infinite ease-in;
}

@keyframes trainAnimation{
    from{
        left: 500%;
        transform: scale(4);
    }

    to{
        left: -500%;
        transform: scale(7);
    }
}

@keyframes trainShadowAnimation{
    from{
        left: 500%;
        transform: scale(4);
    }

    to{
        left: -500%;
        transform: scale(6);
    }
}

@keyframes allAnimation{
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.6);
    }
}

@keyframes backgroundAnimation{
    from{
        transform: scale(1.2);
    }

    to{
        transform: scale(1.5);
    }
}